//=============================== Bootstrepcode ============================= 
@import "~bootstrap/scss/bootstrap";


nav .nav-link:hover{
    color: white !important;
    background-color: #4232c2;
}

footer{
    background-color: #6266ea!important;
}

.theme-primary{
    background-color: #4232c2!important;
}
.theme-secondary{
    background-color: #6266ea!important;
}

footer a i.fab{
    font-size: 33px !important;
}

#main_nav{
    z-index: 1;
}

.carousel{
    height: 70vh;
    width: 100%;
   background-image: url('https://templatemo.com/templates/templatemo_561_purple_buzz/assets/img/banner-bg-01.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.carousel-control-next-icon , .carousel-control-prev-icon{
    background-color: #4232c2;
    border-radius: 50%;
    background-size: 80% 80% !important;
}
.carousel-item-div{
    display: flex;
    width: 100%;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 100%;
}
.slider-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1000px;
}

.main-content h1{
    font-size: 3.5rem;
    color: #4232c2;
    font-weight: 400;
    margin: 0 0 30px;
}

.main-content p{
    color: rgba($color: #000000, $alpha: 0.5);
    margin: 0 0 30px;
}
.main-content .slider-button{
    border-radius: 20px;
    padding: 12px 25px;
    border: 2px solid #4232c2;
    font-size: 1rem;
    color: #4232c2;
    font-weight: 600;
    text-decoration: none;
}

.main-content .slider-button:hover{
    background-color: #4232c2;
    color: white;
}
.carousel-indicators button{
    background-color: #4232c2 !important;
}

.service-section p{
    max-width: 700px;
}

.service-section i {
    font-size: 33px;
}
.custom-border-bottom::after{
    content: "";
    width: 150px;
    display: block;
    position: absolute;
    border-bottom: 5px solid #6266ea;
    padding-top: .5em;
}
.service-section-two .active{
    background-color: #4232c2!important;
    box-shadow: 0 2px 10px rgba($color: #000000, $alpha: 0.4);
}

.service-section-two li:hover{
    background-color: #4232c2!important;
    box-shadow: 0 2px 10px rgba($color: #000000, $alpha: 0.4);
}


.service-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    overflow: hidden;
}
.service-menu li{
    padding: 7px 30px;
    background-color: #6266ea;
    border-radius: 30px;
    margin: 10px 20px;
    color: white;
    cursor: pointer;
    margin-top: 17px;
}

.main-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    
}
.main-grid img{
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
}
.custom-card{
    height: 280px;
    width: 280px;
    padding: 20px;
    margin: 20px;
    position: relative;
    box-shadow: 0 2px 10px rgba($color: #000000, $alpha: 0.4);
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(0,0,0,0.95));
    background-position: 0% 100%;
    transition: 1s ease-out;  
    cursor: pointer;
}

.custom-card-work{
    height: 380px;
    width: 380px;
    padding: 20px;
    margin: 20px;
    position: relative;
    box-shadow: 0 2px 10px rgba($color: #000000, $alpha: 0.4);
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    background-position: 0% 100%;
    transition: 1s ease-out;  
    cursor: pointer;
}

.card-content span{
    position: absolute;
    bottom: 100px;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 30px;
}
.card-content-work h3{
    position: absolute;
    bottom: 50px;
    color: black;
    transition: 0.5s ease-in;
}

.card-content p{
    position: absolute;
    bottom: 15px; 
    color: white;
    
}
.card-content-work p{
    position: absolute;
    bottom: 15px; 
    color: black;
    transition: 0.5s ease-in;
}
.custom-card:hover > .card-content span{
    color: black;
    border: 1px solid black;
}
.custom-card:hover > .card-content p{
    color: black;
}
.custom-card:hover{
    background: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(255,255,255,0.7));
}

.custom-card-work:hover > .card-content-work h3{
    color: white;
    bottom: 170px;
   
}
.custom-card-work:hover > .card-content-work p{
    color: white;
    bottom: 130px;
}
.custom-card-work:hover{
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(66,50,194,0.95));
}

.service-section-three{
    margin-top: 30px;
}

.workbar-box{
    background-color: #6266ea;
    padding: 35px;
    margin-bottom: 30px;
}
.container-custom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.container-custom .icon-bar{
    font-size: 4rem;
}
.container-custom .text-bar{
    text-align: center;
}
.btn-work{
    background-color: #4232c2;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 1rem;
}
.btn-work:hover{
    background-color: #2c19be;
  
}

.title-block h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 0 330px;
    padding: 40px 12px;
}

// About us page design ============================
.about-section-one{
    background-color: #f6f9fe!important;
}
.section-one-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-one-div img{
    max-width: 100%;
    height: 600px;
}

.section-one-div h1{
    font-size: 40px;
    color: #4232c2;
    padding: 3rem 0;
}

.section-one-div p{
    font-weight: 300;
    padding: 0 59px 0 0;
}
.section-one-div h1::after{
    content: '';
    width: 150px;
    height: 25px;
    border-bottom: 5px solid #4232c2;
    position: absolute;
    display: block;
}
.about-section-two h2{
    font-size: 40px;
    color: #4232c2;
    padding: 3rem 0;
}


.about-section-two h2::after{
    content: '';
    width: 150px;
    height: 25px;
    border-bottom: 5px solid #4232c2;
    position: absolute;
    display: block;
}
.about-section-two img:hover{
    transform: scale(1.1);
}

.about-section-three{
    background-color: #6266ea;
}
.about-section-three h1{
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 3rem 0;
}

.partner-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}
.partner-wap {
    background-color: #7276ec;
    transition: 1s;
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 180px;
    margin:10px
}
.partner-wap a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    color: white;
}
.about-section-five{
    background: linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
}
.about-section-five .row{
    position: relative;
}
.about-section-five .content{
    position: absolute;
    right: 0;
    bottom: 30px;
}
.objective-icon{
    background-color: #6266ea;
    width: 108px;
    align-items: center;
    text-align: center;
    margin: auto;
    height: 107px;
    border-radius: 20px;
}
.objective-icon i{
    font-size: 40px;
    color: white;
    position: relative;
    top: 30%;
}
// Contact us page ===========
.contact-section-one{
    background-color: #f6f9fe;
}
.contact-section-one h2{
    font-size: 40px;
    color: #4232c2!important;
    margin-bottom: 1rem;
}
.contact-section-one h3{
  font-size: 1.5rem;
  font-weight: 400;
}
.contact-section-one p{
    font-weight: 300;
    width: 60%;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    margin-top: 5px;
}
.content-grid{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-img img{
    max-width: 100%;
    height: 400px;
    width: 550px;
}

.contact-section-two{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contact-section-two h2{
    font-size: 40px;
    color: #4232c2!important;
    margin-bottom: 1rem;
}
.contact-section-two h3{
  font-size: 1.5rem;
  font-weight: 400;
}
.contact-section-two p{
    font-weight: 300;
    width: 70%;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    margin-top: 5px;
}
.contact-card{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact-card i {
    font-size: 40px;
    /* margin: auto; */
    padding: 20px;
    color: #6266ea!important;
    border: 1px solid #dee2e6;
}
.contact-info{
    margin-top: 5px;
    margin-left: 10px;
}


.input-div{
    margin-bottom: 80px;
    position: relative;
}
.input-div input, .input-div textarea{
    position: absolute;
    width: 80%;
    padding: 16px 10px 4px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}
.input-div input:focus, .input-div textarea:focus{
    outline: none !important;
    border: 3px solid rgba($color: #6266ea, $alpha: 0.5)
}
.input-div label{
    position: absolute;
    left: 25px;
    top : 13px;
}
.input-div #subject{
    width: 90%;
}
.input-div #message{
    width: 90%;
    height: 150px;
}
.input-div input:focus + label{
    transform: translateY(-10px);
    font-size: 14px;
}

.input-div textarea:focus + label{
    transform: translateY(-10px);
    font-size: 14px;
}
.btn-div{
    margin-top: 100px;
    position: relative;
}
.btn-div button{
    position: absolute;
    right: 8%;
    background-color: #6266ea;
    color: white;
}

// Pricing ====================

.pricing-section-two{
    // height: 400px;
    background-color: #f6f9fe!important;
}
.pricing-section-one .title h1 , .pricing-section-two .title h1 ,  .pricing-section-three .title h1{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
} 
.pricing-section-one .title p, .pricing-section-two .title p,  .pricing-section-three .title p{
    text-align: center;
}

.pricing-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pricing-box div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.16);
    width: 350px;
    height: 432px;
    border-radius: 20px;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.pricing-box i{
    font-size: 60px;
    color: #6266ea;
}
.pricing-box h2{
    font-size: 20px;
    margin-top: 10px;
}
.price-btn{
    padding: 8px 27px;
    border: 1px solid #6266ea;
    border-radius: 20px;
    background: transparent;
    color: #6266ea;
    margin-top: 3rem;
}
.price-btn:hover{
    background-color: #6266ea;
    color: white;
}
.active-box{
    background-color: #6266ea;
    color: white;
    height: 528px !important;
}
.active-box i{
    color: white;
}
.active-box .price-btn{
   background-color: #6266ea; 
   border: 1px solid white;
   color: white;
}
.active-box .price-btn:hover{
    background-color: white; 
    border: 1px solid #6266ea;
    color: #6266ea;
 }

.pricing-section-two{
    padding-top:1px;
    padding-bottom: 40px;
}
 .pricing-box-two{
    height: 209px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    max-width: 1100px;
    margin: 30px auto;
    background-color: white;
 }
 .pricing-box-two .fa-icon{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: #6266ea;
     border-radius: 20px 0 0 20px;
     color: white;
 }
 .pricing-box-two .fa-icon i{
    font-size: 50px;
   
}
.pricing-box-two .content{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.pricing-box-two .price-content{
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
}
.price-content button{
    margin-top: 0;
}

.card-three{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.16);
}
.card-three .price-btn{
    margin-top: 0;
    background-color: #6266ea;
    color: white;
}
.card-three .fa-icon{
    font-size: 50px;
    color: #6266ea;
}
.card-three .card-content-three{
    margin-top: 8px;
    text-align: center;
}
.card-three .card-content-three h2{
    font-size: 1.4rem;
}
.pricing-section-three .row{
    align-items: center;
}


// Work section ========================

.work-section-one{
    background-image: url('https://templatemo.com/templates/templatemo_561_purple_buzz/assets/img/banner-bg-02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
.work-section-one .container{
    padding: 40px;
}
.work-section-one h1{
    margin-top: 20px;
    margin-bottom: 52px;
    font-size: 40px;
    font-weight: 600;
}

.work-section-one h4{
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 1.5rem;
}
.work-section-one p{
    max-width: 1000px;
    margin: 20px auto;
}
.work-section-one h1::after{
    content: "";
    width: 150px;
    display: block;
    position: absolute;
    border-bottom: 5px solid rgb(98, 102, 234);
    padding-top: 0.5em;
    left: 50%;
    margin-left: -75px;
}
.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.learn-more-btn{
    border: 1px solid white;
    outline: none;
    color: white;
    padding: 7px 25px;
    border-radius: 20px;
    background-color: transparent;
    margin-right: 30px;
}

.learn-more-btn:hover{
   background-color: white;
   color: black;
}
.contact-us-btn{
    border: 1px solid #6266ea;
    outline: none;
    color: white;
    padding: 7px 25px;
    border-radius: 20px;
    background-color: #6266ea;
}


.work-sesction-two .service-menu li{
    background-color: white;
    color: #6266ea;
}
.work-sesction-two .service-menu li.active{
  color: white;
}
.work-sesction-two .service-menu li:hover{
    color: white;
  }

.work-sesction-two .service-section{
    margin: 45px;
}

.work-card-content img{
    max-width: 100%;
    border-radius: 20px 20px 0 0;
}

.work-card-content{
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 20px;
    margin:20px;
}



// Work inner page 







//Blog page


.blog-card img{
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.16);
    // position: absolute;
}
.blog-section .container{
    margin-bottom: 40px;
    margin-top: 40px;
}

.blog-card{
    position: relative;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.36);
    margin-top: 20px;
    margin-bottom: 20px;

}

.blog-card img:hover{
    filter: blur(2px) contrast(130%);
}
.blog-content{
    position: absolute;
    top: 45%;
    left:20px;
    padding: 10px;
    max-width: 90%;
    color: white;
}

.blog-content span{
    margin-right: 20px;
}
.blog-content h3{
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: white;
    text-shadow: 0 0 3px #212529;
}
.blog-content p{
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}
.blog-card a{
    font-size: 1.2rem;
    color: white;
}
.rounded-circle{
    max-width: 50px;
}



.logodiv{
    position: relative;
    height: 500px;
    width: 100%;
}
.loading{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    transform: translate(-50%,-50%);
}




// blog inner page 
.inner-content-main{
    position: relative;
    margin-bottom: 50px;
}
.inner-content-main img{
    width: 100%;
    height: 440px;
    position: inherit;
    z-index: -1;
}

.inner-content-main .inner-content{
    margin-top: -50px;
    z-index: 1;
    width: 80%;
    background-color: white;
    padding: 20px;
}

.comments{
    display: flex;
    align-items: center;
}
.comments img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cmnt-content{
    margin: 20px;
}

@media (max-width : 500px) {
    .slider-content{
        max-width: 260px;
    }
    .main-content h1{
        font-size: 1.5rem;
    }
    .container-custom{
        flex-direction: column;
    }
    .custom-card-work{
        height: 300px;
        width: 300px;
    }
    .card-content-work h3{
        bottom: 80px;
    }
    .section-one-div{
       flex-direction: column;
    }
    .section-one-div p{
        padding: 0 0 0 0;
    }
    .section-one-div img{
        height: 400px;
    }
    .partner-div{
        flex-direction: column;
    }
    .content-grid{
        flex-direction: column;
    }
    .contact-content{
        margin-top: 20px;
    }
    .contact-section-one p{
        width: 100%;
    }
    .pricing-box{
        flex-direction: column;
    }
    .pricing-box-two{
        height: 380px;
    }
    .pricing-box-two .fa-icon {
        height: 150px;
        border-radius: 20px;
    }
    .blog-content{
        top:10%;
    }
    .blog-content h3{
        font-size: 1.5rem;
    }
    .inner-content-main .inner-content {
        width: 100%;
    }

}

// ================================== custom code ========================



// @import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
 

// body{
//    font-family: 'Muli', sans-serif;  
// }


// .nav .container{
//    padding: 20px 0;
// }
// .nav{
// //    position: fixed;
//    background-color: #fff;
//    left: 0;
//    top: 0;
//    right: 0;
//    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
// }
// .nav a{
//    color: grey;
//    text-decoration: none;
//    cursor: pointer;
//    padding: 10px 15px;
// }
// .nav ul{
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    list-style-type: none;
// }
// .left-nav-menu{
//    width: 800px;
// }
// .left-nav-menu ul{
//    justify-content: space-around;
// }
// .right-nav-menu{
//    width: 150px;
// }
// .right-nav-menu ul{
//    justify-content: space-around;
// }
// .main-nav-menu{
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    margin: 0 10px;
// }

// .left-nav-menu ul a:hover{
//    color: #fff;
//    background-color: #4232c2;
//    border-radius: 50px;
// }
// .right-nav-menu ul a{
//    font-size: 1.4rem;
//    color: #4232c2;
// }
// .logo span{
//    color: #4232c2;
//    font-weight: bold;
// }
// .btn-nav-mob{
//    right: 0;
//    position: absolute;
//    margin: 0 10px;
//    align-items: center;
//    justify-content: center;
//    padding: 7px 10px;
//    background-color: #4232c2;
//    color: white;
//    border: none;
//    display: none;
// }
// .display-div{
//    display: block !important;
// /*     
//    animation: fade-in 2s; */
// }
// @media (max-width : 500px) {
//    .main-nav-menu{
//      flex-direction: column;
//      align-items: flex-start;
//    }
//    .left-nav-menu{
//        width: 100%;
//        display: none;
//        transition: all 2s ease-out ;   
//    animation: fade-in 2s;
//    }
//    .left-nav-menu ul{
//        flex-direction: column;
//        margin-top: 5px;
//    }
//    .left-nav-menu ul li{
//        padding: 5px;
//        width: 100%;
//        margin-top: 5px;
//        text-align: center;
//    }
//    .right-nav-menu{
//        width: 100%;
//        margin-top: 10px;
//        display: none;
//        transition: all 2s ease-out ;
//    animation: fade-in 2s;
//    }
//    .right-nav-menu ul{
//        justify-content: space-between;
//    }
//    .btn-nav-mob{display: block;}
// }

// @keyframes fade-in {
//    from {
//      opacity: 0;
//    }
//    to {
//      opacity: 1;
//    }
//  }
 
//  @keyframes fade-out {
//    from {
//      opacity: 1;
//    }
//    to {
//      opacity: 0;
//    }
//  }

 